body {
  font-family: 'Open Sans';
  /* background: url('https://subtlepatterns.com/patterns/halftone.png'); */
  background-color: #1a2235;
}

.profile-form {
  background: #ffff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #9d9d9d;
  /* color: #3897f0 */
  /* color:  rgb(34,118,228); */
  color: #07c;
  font-weight: 400;
  font-family: Geneva, Verdana, sans-serif;
  background-image: radial-gradient(
    circle farthest-side at top center,
    #31444c 30%,
    #1b2539 85%,
    #10162d 100%
  );
}

.profile-form > :last-child {
  margin: 3px;
  background-color: #07c;
  color: #fff;
  border-radius: 0.28571429rem;
  font-size: 16pt;
  font-weight: 800;
  font-family: Lato;
  text-align: center;
  display: inline-block;
  margin-left: 28%;
}

.profile-form > * {
  margin: 3px;
  /* width: 202px; */
}
.profile-form > input {
  margin: 3px;
  width: 202px;
  /* display: inline-flex; */
  /* float: right; */
}
.profile-form > label {
  /* text-align: center !important */
}
.form-item-wrapper {
  margin-left: 20px !important;
  /* margin-right: 40px !important; */
}
.form-item-wrapper1 {
  margin-left: 35px !important;
}
.form-item-wrapper2 {
  margin-left: 8px !important;
}
.form-item-wrapper3 {
  margin-left: 10px !important;
}

/* NICE BLUE color: rgb(97, 218, 251); */

/* #background {
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
} */
.ui.segment.top.attached.login {
  border: 1px solid rgb(17, 17, 18) !important;
  font-size: 45px;
  font-family: Lato;
  font-weight: 400;
}

.column.signup {
  width: 800px !important;
  text-align: center !important;
}
.ui.segment.top.attached.signup {
  border: 1px solid rgb(17, 17, 18) !important;
  font-size: 45px;
  font-family: Lato;
  font-weight: 400;
}

@media only screen and (min-width: 1200px) {
  .ui.grid.container.login {
    width: 600px !important;
  }
  .ui.grid.container.signup {
    width: 800px !important;
  }
}
/* .selected { 
  @media only screen and (min-width: 1200px){
  .selected  {
      /* width: 1127px; */
/* width: 1127px; */
/* margin-left: auto!important;
    margin-right: auto!important; */
/* margin-bottom: 100px !important; */
/* position: absolute !important;
    padding: 50px !important;
    z-index: 10 !important; */
/* } */
.app-name{
  color: #ffcd0b !important;
}
.ui.small.image {
  width: 70px;
  border-radius: 50%;
  display: inline !important;
}

/* Regular Window */
.ui.block.header.edit-profile {
  margin-bottom: 12px !important;
  margin-right: 0% !important;
  background-image: radial-gradient(
    circle farthest-side at top center,
    #31444c 30%,
    #1b2539 85%,
    #10162d 100%
  );
  border: solid 2px #ffcd0b !important;
  color: #ffcd0b !important;
  /* padding: 1em; */
  cursor: pointer;
}

.column.profile-header-style {
  background-image: radial-gradient(
    circle farthest-side at top center,
    #31444c 30%,
    #1b2539 85%,
    #394780 95%
  );
  background-image: radial-gradient(
    circle farthest-side at top center,
    #31444c 30%,
    #6b83b5 85%,
    #394780 95%
  );
}

.ui.menu.darken {
  background: #0d101e;
  border-bottom: solid 1px #292c41;
  padding: 10px;
  border-top: 4px solid #4286f4;
  /* border-bottom: 0.5px solid #4286f4; */
}
.ui.menu:not(.vertical) .item {
  display: initial !important;
}
.ui.block.header {
  color: #fff !important;
  /* margin-left: 150px !important; */
  /* margin-right: 150px !important; */
  background-color: #1a2235;
  display: -webkit-inline-box;
  /* width: 153px; */
  text-align: center;
}

.ui.block.header.title {
  background-color: #31444c !important;
  border: 0.5px solid #ffcd0b !important;
  display: inline-block;
}

.ui.block.header.profile {
  color: #ffcd0b !important;
  border: transparent !important;
  /* background-color: transparent; */
  background-image: radial-gradient(
    circle farthest-side at top center,
    #31444c 30%,
    #1b2539 85%,
    #394780 95%
  );
}

/* NAVEBAR */
.ui.menu.darken .item {
  color: #ffcd0b !important;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  font-size: 12pt;
  font-weight: 800;
  font-family: Lato;
  background-color: #1a2235 !important;
}
.ui.menu.darken > :first-child {
  color: #ffcd0b !important;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  font-size: 12pt;
  font-weight: 800;
  font-family: Lato;
  background-color: #1a2235 !important;
}
.ui.menu.darken * {
  color: #ffcd0b !important;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  font-size: 12pt;
  font-weight: 800;
  font-family: Lato;
  background-color: #1a2235 !important;
}
a:hover {
  background-color: #ffcd26 !important;
  color: #4286f4 !important;
  text-decoration: underline;
  -moz-text-decoration-color: #4286f4;
}
/* 
a:link {
  color: #4286f4 !important;
}
a:visited {
  color: peru !important;
}
a:active {
  color: #6f4 !important;
}
/* unvisited link */
/* a:link {
  color: red !important;
} */

/* visited link */
/* a:visited {
  color: green !important;
} */

/* mouse over link */
/* a:hover {
  color: hotpink !important;
} */

/* selected link */
/* a:active {
  color: blue !important;
}  */

#background-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.ui.block.header.w-o-Border {
  border: none !important;
  /* border: solid 2px #ffcd0b !important; */
  color: #ffcd0b !important;
  /* white-space: nowrap; */
  /* overflow-x: auto; */
  display: inline-block;
}
.custom.fields.ui.centered.grid .field {
  margin: 4px !important;
  padding: 15px 20px 15px 20px !important;
  margin-left: 24px !important;
  width: 151px !important;
  border-radius: 3px !important;
  background: #fff !important;
  border: 28px solid #e6e6e6 !important;
  border: 1px solid #3897f0;
}

.ui.form.custom.fields .field > :first-child {
  margin: 0 0.85714286em 0 0;
  /* float: right !important; */
  margin-left: 49px;
  margin-top: -13px;
  width: 35px;
  height: 38px;
}

.ui.form input[type='checkbox'] {
  margin: 0 0.85714286em 0 0;
  margin-left: 49px;
  margin-top: -13px;
  height: 38px;
  width: 20px !important;
}
.btc {
  border-style: none;
  border-radius: 9%;
  /* background: #3897f0; */
  width: 228px;
  width: 5%;
  max-width: 70vh;
  min-width: 42vh;
}
.landing-btc {
  margin-top: 5vh;
  position: relative;
}
.button_div {
  text-align: center;
  margin-top: 5em;
}

.landing-title {
  margin-top: 30px !important;
  font-size: 45px;
  font-family: Lato;
  font-weight: 400;
}
.hold_divs {
  /* margin-top: 40px; */
  font-size: 45px;
  font-family: Lato;
  font-weight: 400;
}

.ui.blue.big.button.button_ele {
  min-width: 200px;
  border: solid 2px #ffcd0b;
  color: #ffcd0b;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  font-size: 12pt;
  font-weight: 800;
  font-family: Lato;
  background-color: #0d101e;
}

.ui.raised.container.segment {
  background-image: radial-gradient(
    circle farthest-side at top center,
    #31444c 30%,
    #1b2539 85%,
    #10162d 100%
  );
}

.signup-button {
  display: inline-block;
  padding: 1em 5em;
  max-width: 100%;
  background-color: #5ec3eb;
  color: #0d101e;
  font-size: 12pt;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  margin-bottom: 10px;
}
.login-button {
  display: inline-block;
  padding: 1em 5em;
  max-width: 100%;
  background-color: rgb(11, 192, 144);
  color: #0d101e;
  font-size: 12pt;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  margin-bottom: 10px;
}

.marketingSection {
  text-align: center;
  line-height: 1;
  color: #fff;
}
.marketingSection > p {
  font-size: 22px;
  margin: 25px auto 0;
  max-width: 700px;
}
.landing-tagline.jsx-1013649062 {
  margin-top: 10px !important;
  line-height: 1.5 !important;
  font-size: 21px !important;
  font-family: Lato !important;
  font-weight: 300 !important;
  color: #9d9d9d !important;
}

@media (min-width: 720px) {
  .landing-tagline.jsx-1013649062 h3 {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .ui.block.header.edit-profile {
    /*  Mobile Window/Screen  */
    margin-right: 19% !important;
  }

  .column.profile-header-wrapper-style {
    background-image: radial-gradient(
      circle farthest-side at top center,
      #31444c 30%,
      #6b83b5 85%,
      #394780 95%
    );
  }
  .ui.raised.container.segment {
    background-image: radial-gradient(
      circle farthest-side at top center,
      #31444c 30%,
      #6b83b5 85%,
      #394780 95%
    );
  }
}
/* @media (max-width: 720px) {

  .ui.block.header.edit-profile {

    margin-right: 0% !important;
  }
} */

.btn-wrapper {
  text-align: center;
  margin-top: 5em;
}
.to-delete.button {
  border: solid 2px #ffcd0b !important;
  color: #ffcd0b !important;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  font-size: 12pt;
  font-weight: 800;
  font-family: Lato;
  background-color: #1a2235 !important;
}

.IssueLabel {
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  line-height: 15px;
  padding: 0.15em 4px;
}
.d-inline-block {
  display: inline-block !important;
}
.v-align-middle {
  vertical-align: middle !important;
}
* {
  box-sizing: border-box;
}
